# Gradle files
app-root/.gradle/
app-root/build/
app-root/app/build/
app-root/local.properties
app-root/app/release/

# IDE files
app-root/.idea/
.idea/
*.iml
*.iws

# OS files
.DS_Store
Thumbs.db

# Built outputs
*.apk
app-root/app/build/outputs/
builds/

# Kotlin build cache
app-root/.kotlin/
*.kotlin_module

# Config cache
app-root/.cxx/
